<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<table>
		<tr th:each="s:${Found}">
			<td th:text="${s.courseName}">Course</td>
			<td th:text="${s.courseCredit}">Course</td>
			<td th:text="${s.termOffered}">Course</td>
			<td th:text="${s.department}">Course</td>
			<td><a th:href="@{/editCourse/}+${s.id}">Edit</a></td>
			<td><a th:href="@{/deleteCourse/}+${s.id}">Delete</a></td>
		</tr>
	</table>
	<form method="post" action="#" th:action="@{/getByCourse}" >
		Course Name:<input type="text">
		<input type="submit" value="Search by Course Name">
	</form>
	<br><br>
	<form method="post" action="#" th:action="@{/getByDep}" >
		Course Name:<input type="text">
		<input type="submit" value="Search by Department Name">
	</form>
	<br>
	<form method="get" action="#" th:action="@{/}">
		<input type="submit" value="Back"/>
	</form>
</body>
</html>